#header {
	 
}

#nav-bar {
	width: 100%;	
	text-align: right;
	font-size: 23px;
	background-color: #00FFFF;
	overflow: auto;
	position: fixed;
}

#header-img {
	width: 15%;
	height: 15%;
	padding: 0px;
	float: left;
}



.nav-link {
	float: right;
	text-align: left;
	padding: 30px;
	margin-right: 0px;
	text-decoration: none;
}

#form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
}

#submit {
	margin: 10px;
	padding: 10px;
}

.form-title {
	text-align: center;
}

#pfeatures {
	display: grid;
	justify-content: center;
}

#pfeatures .fiturimg {
	
	width: 10%;
	height: 10%;	
	float: left;
	align-items: center;
	justify-content: center;
	text-align: left;
	padding-right: 30px;
}

#pfeatures .desc {
	height: 15px;
  	width: 100%;
	padding-left: 5px;
}

#video {
	display: flex;
	justify-content: center;
	width: 100%;
}

#pricing {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

ul {
	list-style: none;
	text-align: left;
}

.a8-1 {
	border: 1px solid #000;
	text-align: center;
	margin: 20px;
	width: calc(90%  / 3);
}

.a8title {
	background-color: #ddd;
	padding: 10px;
}

.btn {
	padding: 10px;
	margin-bottom: 10px;
}

#footer {
	float: left;
	text-align: right;
	padding-top: 20px;
	width: 100%;	
	height: 10%;
	background-color: #00FFFF;
	
}
.copyright {
	padding: 10px;
}

footer a{
	padding-left: 20px;
	margin: 10px;
	text-decoration: none;
}

